<md-sidenav-layout class="mainBlog-sidenav-layout">
	<md-toolbar>
		<md-icon (click)="start.toggle()" class="demo-toolbar-icon">menu</md-icon>
		<span>codeTV</span>
		<span class="demo-fill-remaining"></span>
		<md-icon>code</md-icon>

		<span class="example-fill-remaining-space"></span>

		<button md-button (click)="getLogin()" [hidden]="_userLogin.info.id != -1">Login</button>

		<button md-icon-button [md-menu-trigger-for]="menu" [hidden]="_userLogin.info.id == -1">
  			 <md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu="mdMenu">
			<button md-menu-item disabled> Edit info </button>
			<button md-menu-item (click)="logout()"> Sign Out </button>
		</md-menu>
		<md-list [hidden]="_userLogin.info.id == -1">
			<md-list-item>
				<img md-list-avatar src="{{_userLogin.info.avatar}}" alt="{{_userLogin.info.name}}">
				<h3 md-line>
					<font color="white">{{_userLogin.info.name}}</font>
				</h3>
			</md-list-item>
		</md-list>
	</md-toolbar>
	<md-sidenav #start mode="side">
		<div style="height: 100vh; overflow: scroll;">
			<button class="buttonSlide" md-button (click)="start.close()">Close</button>
			<br>
			<button class="buttonSlide" (click)="denTrangChu()" md-raised-button color="primary">Home</button>
			<span *ngFor="let item of listCategorys">
			<button class="buttonSlide" (click)="xemDanhMuc(itemSon)" *ngIf="item.idParent != -1" md-raised-button color="primary" >{{item.name}}</button>	
		</span>
		</div>
	</md-sidenav>

	<div class="demo-sidenav-content">
		<img src="../../assets/img/logo.png" class="img-fluid full-Width" alt="Responsive image">
		<div class="container">
			<br>
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<button (click)="denTrangChu()" style="float:left" md-raised-button color="primary" class="dropbtn">Trang chủ</button>
					<div class="row hidden-sm-down">
						<li class="dropdown" *ngFor="let item of listCategorys">
							<span *ngIf="item.idParent == -1">
							<button md-raised-button color="primary" class="dropbtn">{{item.name}}</button>
								<div class="dropdown-content">
									<span *ngFor="let itemSon of listCategorys">
										<span (click)="xemDanhMuc(itemSon)" class="parentAHref"><a *ngIf="itemSon.idParent == item.id" class="aHref" href="/bai-viet/{{ChangeToSlug(itemSon.name)}}/{{itemSon.id}}">{{itemSon.name}}</a>
										</span>
							</span>
					</div>
					</span>
					</li>
				</div>
				<br>
				<md-card *ngFor="let item of threadView">
					<h1>{{item.name}}</h1>
					<md-card-header>
						<img md-card-avatar src="../../assets/img/banner.png" alt="{{item.name}}">
						<md-card-title>{{item.categoryName}}</md-card-title>
						<md-card-subtitle>{{item.time}} - Xem: {{item.view}}</md-card-subtitle>
					</md-card-header>
					<md-card-content>

						<p [innerHTML]="item.content | trustAllHTML" highlight-js-content=".highlight"></p>
						<div class="embed-responsive embed-responsive-16by9">
							<youtube-player [videoId]="id" (ready)="savePlayer($event)" (change)="onStateChange($event)">
							</youtube-player>
						</div>
						<div class="col-md-12">
							<div class="btn-group" role="group">
								<button md-button (click)="fastBackward()">Lui 7s</button>
								<button md-button (click)="fastForward()">Tới 7s</button>
								<button md-button (click)="playPauseVideo()">{{textvideoIsPlaying}}</button>
								<button md-button (click)="muteVideo()">{{textvideoIsMute}}</button>
							</div>
						</div>
					</md-card-content>
					<div class="tagcloud06">
						<ul>
							<li *ngFor="let item of tags"><a href="/tag/{{ChangeToSlug(item.name)}}">{{item.name}}</a></li>
						</ul>
					</div>


				</md-card>

				<code #snippet class="typescript highlight-this"></code>

				<br>
				<div class="titleBaiVietMoi">Bình luận</div>
				<md-card>
					<md-card-content>
						<textarea class="form-control" [(ngModel)]="newComment.content" rows="3"></textarea>
						<h6 *ngIf="_userLogin.info.id == -1">Đăng nhập để được phép bình luận</h6>
					</md-card-content>
					<md-card-actions>
						<button md-button [disabled]="_userLogin.info.id == -1" (click)="xoaComment()">Xóa</button>
						<button md-button [disabled]="_userLogin.info.id == -1" (click)="postComment()">Đăng bình luận</button>
					</md-card-actions>
				</md-card>
				<div *ngFor="let item of commentsByThread | async">
					<md-card *ngIf="item.idParent == -1" class="parentComment">
						<md-card-header>
							<img md-card-avatar src="{{item.avatarUser}}" alt="{{item.username}}">
							<md-card-title>{{item.username}}</md-card-title>
							<md-card-subtitle>{{item.time}}</md-card-subtitle>
							<span class="example-fill-remaining-space"></span>
							<!--<button md-button [disabled]="_userLogin.info.id == -1" (click)="likeComment(item)">{{item.vote}} Like</button>-->

							<button md-mini-fab color="primary" [disabled]="_userLogin.info.id == -1" (click)="likeComment(item)">{{item.vote}} <md-icon class="md-12">thumb_up</md-icon></button>
							<button md-button [disabled]="_userLogin.info.id == -1" (click)="replyComment(item)">Trả lời</button>
						</md-card-header>
						<md-card-content>
							<p>{{item.content}}</p>
						</md-card-content>
						<md-card *ngIf="item.showRepply == true" class="sonComment">
							<md-card-content>
								<textarea class="form-control" [(ngModel)]="newComment.content" rows="3"></textarea>
							</md-card-content>
							<md-card-actions>
								<button md-button [disabled]="_userLogin.info.id == -1" (click)="xoaComment()">Xóa</button>
								<button md-button [disabled]="_userLogin.info.id == -1" (click)="postComment()">Đăng trả lời</button>
							</md-card-actions>
						</md-card>
						<div *ngFor="let itemSon of commentsByThread | async">
							<md-card *ngIf="itemSon.idParent == item.id" class="sonComment">
								<md-card-header>
									<img md-card-avatar src="{{itemSon.avatarUser}}" alt="{{itemSon.username}}">
									<md-card-title>{{itemSon.username}}</md-card-title>
									<md-card-subtitle>{{itemSon.time}}</md-card-subtitle>
								</md-card-header>
								<md-card-content>
									<p>{{itemSon.content}}</p>
								</md-card-content>
							</md-card>
						</div>
					</md-card>
				</div>


			</div>
			<div class="col-lg-4 col-md-12">
				<md-card *ngFor="let item of threadView">
					<md-card-header>
						<img md-card-avatar src="../../assets/img/banner.png" alt="{{item.name}}">
						<md-card-title>Tác giả</md-card-title>
						<md-card-subtitle>{{item.author}}</md-card-subtitle>
					</md-card-header>
					<img md-card-image src="{{item.authorAvatar}}"> {{item.introduce}}
				</md-card>
				<br>
				<div class="titleBaiVietMoi">Bài viết mới cập nhập</div>
				<md-list>
					<md-list-item *ngFor="let item of threadsLastestUpdate | async " class="parentAHref">
						<img (click)="xemBaiViet(item)" md-list-avatar src="{{item.imageThumb}}" alt="{{item.name}}">
						<h3 md-line (click)="xemBaiViet(item)"><a class="aHref" href="/bai-viet/{{ChangeToSlug(item.name)}}/{{item.id}}">{{item.name}}</a></h3>
						<p md-line (click)="xemBaiViet(item)">
							<md-icon>av_timer</md-icon>{{item.time}}
						</p>
					</md-list-item>
				</md-list>
			</div>
		</div>
		<footer class="footer-distributed">

			<div class="footer-left">

				<h3>code<span>TV</span></h3>

				<p class="footer-links">
					<a href="#">Home</a> ·
					<a href="#">Blog</a> ·
					<a href="#">Pricing</a> ·
					<a href="#">About</a> ·
					<a href="#">Faq</a> ·
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">codeTV &copy; 2016</p>
			</div>

			<div class="footer-center">


				<div>
					<p>Liên hệ</p>
				</div>

				<div>
					<i class="material-icons">email</i>
					<p><span>quangbao1994@gmail.com</span></p><br>
					<i class="material-icons">group</i>
					<p><span>fb.com/coteTV</span></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Thông tin</span> Website đang chạy thử nghiệm với mã nguồn xây dựng bằng Angular 2
				</p>

				<div class="footer-icons">

					<!--<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-github"></i></a>-->

				</div>

			</div>

		</footer>
	</div>
	</div>
</md-sidenav-layout>
<router-outlet></router-outlet>