<md-sidenav-layout class="mainBlog-sidenav-layout">
	<md-toolbar>
		<md-icon (click)="start.toggle()" class="demo-toolbar-icon">menu</md-icon>
		<span style="width: 30px;"></span>
		<img (click)="start.toggle()" src="../../assets/img/logo-header.png" class="img-fluid hidden-sm-down" alt="Responsive image">
		<span class="example-fill-remaining-space"></span>
		<md-input placeholder="Tìm kiếm" [(ngModel)]="tuKhoaTim" style="width: 100%; max-width: 500px; color: #fff !important;"></md-input>
		<button md-button class="buttonRepply" (click)="xemTimKiem()"><md-icon>search</md-icon></button>
		<button md-button (click)="openLogin()" [hidden]="_userLogin.info.id != -1">Tài khoản</button>
		<button md-icon-button [md-menu-trigger-for]="menu" [hidden]="_userLogin.info.id == -1">
  			 <md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu="mdMenu">
			<button md-menu-item disabled> Edit info </button>
			<button md-menu-item (click)="logout()"> Sign Out </button>
		</md-menu>
		<md-list [hidden]="_userLogin.info.id == -1">
			<md-list-item>
				<img md-list-avatar src="{{_userLogin.info.avatar}}" alt="{{_userLogin.info.name}}">
				<h3 md-line>
					<font>{{_userLogin.info.name}}</font>
				</h3>
			</md-list-item>
		</md-list>
	</md-toolbar>
	<md-sidenav #start>
		<div style="height: 100%; overflow: scroll;">
			<button class="buttonSlide" md-button (click)="start.close()">Close</button>
			<br>
			<button class="buttonSlide" (click)="denTrangChu()" md-raised-button color="primary">Home</button>
			<span *ngFor="let item of listCategorys">
			<button class="buttonSlide" (click)="xemDanhMuc(item)" *ngIf="item.idParent != -1" md-raised-button color="primary" >{{item.name}}</button>	
		</span>
		</div>
	</md-sidenav>
	<div class="demo-sidenav-content">
		<div class="container">
			<br><br>
			<br>
			<br>
			<div class="row col-md-12 hidden-sm-down">
				<button (click)="denTrangChu()" style="float:left" md-raised-button color="primary" class="dropbtn button-dropdown-menu"><div style=" float: left; margin-left: 5px; margin-top: 2px;">Trang chủ </div><md-icon class="md-12 iconDownMenu">home</md-icon></button>
				<li class="dropdown" *ngFor="let item of listCategorys">
					<span *ngIf="item.idParent == -1">
								<button md-raised-button color="primary" class="dropbtn button-dropdown-menu"><div style=" float: left; margin-left: 5px; margin-top: 2px;">{{item.name}} </div><md-icon class="md-12 iconDownMenu">arrow_drop_down</md-icon></button>
								<div class="dropdown-content">
									<span class="abcA" *ngFor="let itemSon of listCategorys">
										<span (click)="xemDanhMuc(itemSon)" class="parentAHref"><a *ngIf="itemSon.idParent == item.id" class="aHref-dropdown" href="/bai-viet/{{ChangeToSlug(itemSon.name)}}/{{itemSon.id}}">{{itemSon.name}}</a>
										</span>
					</span>
			</div>
			</span>
			</li>
		</div>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<md-card *ngFor="let item of threadView">
					<h1>{{item.name}}</h1>
					<br>
					<md-card-header>
						<img md-card-avatar src="{{item.imageThumb}}" alt="{{item.name}}">
						<md-card-title>{{item.categoryName}}</md-card-title>
						<md-card-subtitle style="margin-top: -15px;">{{item.time}} - Xem: {{item.view}}</md-card-subtitle>
					</md-card-header>
					<md-card-content>
						<div *ngIf="idVideo" style="margin-top: 15px">
							<div class="embed-responsive embed-responsive-16by9">
								<youtube-player [videoId]="idVideo" (ready)="savePlayer($event)" (change)="onStateChange($event)">
								</youtube-player>
							</div>
							<div class="col-md-12" style="margin-top: 5px;">
								<div class="centerBlock">
									<div class="btn-group">
										<button md-raised-button color="primary" (click)="fastBackward()">Lui 7s</button>
										<button md-raised-button color="primary" (click)="fastForward()">Tới 7s</button>
										<button md-raised-button color="primary" (click)="playPauseVideo()">{{textvideoIsPlaying}}</button>
										<button md-raised-button color="primary" (click)="muteVideo()">{{textvideoIsMute}}</button>
									</div>
								</div>
							</div>
						</div>
						<br>
						<br>
						<p style="margin-top: 15px" [innerHTML]="item.content | trustAllHTML"></p>

						<!--<div class="embed-responsive embed-responsive-16by9">
							<youtube-player [videoId]="OEpsaATevxw" (ready)="savePlayer($event)" (change)="onStateChange($event)">
							</youtube-player>
						</div>
						<div class="col-md-12">
							<div class="btn-group" role="group">
								<button md-button (click)="fastBackward()">Lui 7s</button>
								<button md-button (click)="fastForward()">Tới 7s</button>
								<button md-button (click)="playPauseVideo()">{{textvideoIsPlaying}}</button>
								<button md-button (click)="muteVideo()">{{textvideoIsMute}}</button>
							</div>
						</div>-->

					</md-card-content>
					<br><br><br>
					<div class="tagcloud06">
						<ul>
							<li *ngFor="let item of tags"><a href="/tag/{{ChangeToSlug(item.name)}}">{{item.name}}</a></li>
						</ul>
					</div>
				</md-card>
				<code #snippet class="typescript highlight-this"></code>
				<br>
				<div class="titleBaiVietMoi">Bài viết liên quan</div>
				<md-list>
					<md-list-item *ngFor="let item of threadsSimilar | async " class="parentAHref">
						<h3 md-line (click)="xemBaiViet(item)">
							<a class="aHref" href="/bai-viet/{{ChangeToSlug(item.name)}}/{{item.id}}">
								<md-icon>grade</md-icon><span style=" margin-top: 5px; position: absolute;">{{item.name}}</span></a>
						</h3>
					</md-list-item>
				</md-list>
				<br>
				<div class="titleBaiVietMoi">Bình luận</div>
				<div style="background:#fff !important;box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);">
					<md-card style="box-shadow: none;">
						<md-card-content>
							<textarea class="form-control" [(ngModel)]="newComment.content" rows="3"></textarea>
							<h6 *ngIf="_userLogin.info.id == -1" style="text-align: center; margin-top: 10px; margin-bottom: -20px;">Đăng nhập để được phép bình luận</h6>
						</md-card-content>
						<md-card-actions>
							<button md-button [disabled]="_userLogin.info.id == -1" (click)="xoaComment()">Xóa</button>
							<button md-button [disabled]="_userLogin.info.id == -1" (click)="postComment()">Đăng bình luận</button>
						</md-card-actions>
					</md-card>
					<div *ngFor="let item of commentsByThread | async">
						<md-card *ngIf="item.idParent == -1" class="parentComment" style="box-shadow: none;">
							<md-card-header style="height: 30px;">
								<img md-card-avatar src="{{item.avatarUser}}" alt="{{item.username}}">
								<md-card-title>{{item.username}}</md-card-title>
								<md-card-subtitle style="margin-top: -15px;">{{item.time}}</md-card-subtitle>
								<span class="example-fill-remaining-space"></span>
								<button md-button class="buttonRepply" [disabled]="_userLogin.info.id == -1" (click)="replyComment(item)">Trả lời</button>
								<button md-button class="buttonRepply" [disabled]="_userLogin.info.id == -1" (click)="likeComment(item)"><div style=" float: left; margin-left: 5px; margin-top: -1px;">{{item.vote}} </div><md-icon class="md-12 iconLike">thumb_up</md-icon></button>
							</md-card-header>
							<md-card-content>
								<p style="margin-top: 15px" [innerHTML]="item.content"></p>
							</md-card-content>
							<md-card *ngIf="item.showRepply == true" class="sonComment">
								<md-card-content>
									<textarea class="form-control" [(ngModel)]="newComment.content" rows="3"></textarea>
								</md-card-content>
								<md-card-actions>
									<button md-button [disabled]="_userLogin.info.id == -1" (click)="xoaComment()">Xóa</button>
									<button md-button [disabled]="_userLogin.info.id == -1" (click)="postComment()">Đăng trả lời</button>
								</md-card-actions>
							</md-card>
							<div *ngFor="let itemSon of commentsByThread | async">
								<md-card *ngIf="itemSon.idParent == item.id" class="sonComment">
									<md-card-header style="height: 10px;">
										<img md-card-avatar src="{{itemSon.avatarUser}}" alt="{{itemSon.username}}" style="height:25px; width:25px;">
										<md-card-title>{{itemSon.username}}
											<font color="#a6a6a6">{{itemSon.time}}</font>
										</md-card-title>
									</md-card-header>
									<md-card-content>
										<p style="margin-top: 15px" [innerHTML]="itemSon.content"></p>
									</md-card-content>
								</md-card>
							</div>
						</md-card>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<md-card *ngFor="let item of threadView">
					<md-card-header>
						<img md-card-avatar src="{{item.authorAvatar}}" alt="{{item.name}}">
						<md-card-title>Tác giả</md-card-title>
						<md-card-subtitle style="margin-top: -15px;">{{item.author}}</md-card-subtitle>
					</md-card-header>
					{{item.authorIntroduce}}
				</md-card>
				<br>
				<div class="titleBaiVietMoi">Mới cập nhập</div>
				<md-list>
					<md-list-item *ngFor="let item of threadsLastestUpdate | async " class="parentAHref">
						<img (click)="xemBaiViet(item)" md-list-avatar src="{{item.imageThumb}}" alt="{{item.name}}">
						<h3 md-line (click)="xemBaiViet(item)"><a class="aHref" href="/bai-viet/{{ChangeToSlug(item.name)}}/{{item.id}}">{{item.name}}</a></h3>
						<p md-line (click)="xemBaiViet(item)">
							<md-icon>av_timer</md-icon><span style=" margin-top: 3px; position: absolute;">{{item.time}}</span>
						</p>
					</md-list-item>
				</md-list>
			</div>
		</div>
	</div>
	<footer class="footer-distributed">
		<div class="container">
			<div class="footer-left">
				<h3>code<span>W</span></h3>
				<p class="footer-company-name">codeW &copy; 2016</p>
			</div>
			<div class="footer-center">
				<div>
					<p>Liên hệ</p>
				</div>
				<div>
					<i class="material-icons">group</i>
					<p><span>fb.com/codeW.net</span></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>Thông tin</span> Website đang chạy thử nghiệm với mã nguồn xây dựng bằng Angular 2
				</p>
			</div>
		</div>
	</footer>
	</div>
</md-sidenav-layout>
<router-outlet></router-outlet>