<md-sidenav-layout class="mainBlog-sidenav-layout">
	<md-toolbar>
		<md-icon (click)="start.toggle()" class="demo-toolbar-icon">menu</md-icon>
		<span style="width: 30px;"></span>
		<img (click)="start.toggle()" src="../../assets/img/logo-header.png" class="img-fluid hidden-sm-down" alt="Responsive image">
		<span class="example-fill-remaining-space"></span>
		<md-input placeholder="Tìm kiếm" [(ngModel)]="tuKhoaTim" style="width: 100%; max-width: 500px; color: #fff !important;"></md-input>
		<button md-button class="buttonRepply" (click)="xemTimKiem()"><md-icon>search</md-icon></button>
		<button md-button (click)="openLogin()" [hidden]="_userLogin.info.id != -1">Tài khoản</button>
		<button md-icon-button [md-menu-trigger-for]="menu" [hidden]="_userLogin.info.id == -1">
  			 <md-icon>more_vert</md-icon>
		</button>
		<md-menu #menu="mdMenu">
			<button md-menu-item disabled> Edit info </button>
			<button md-menu-item (click)="logout()"> Sign Out </button>
		</md-menu>
		<md-list [hidden]="_userLogin.info.id == -1">
			<md-list-item>
				<img md-list-avatar src="{{_userLogin.info.avatar}}" alt="{{_userLogin.info.name}}">
				<h3 md-line>
					<font>{{_userLogin.info.name}}</font>
				</h3>
			</md-list-item>
		</md-list>
	</md-toolbar>
	<md-sidenav #start>
		<div style="height: 100%; overflow: scroll;">
			<button class="buttonSlide" md-button (click)="start.close()">Close</button>
			<br>
			<button class="buttonSlide" (click)="denTrangChu()" md-raised-button color="primary">Home</button>
			<span *ngFor="let item of listCategorys">
			<button class="buttonSlide" (click)="xemDanhMuc(item)" *ngIf="item.idParent != -1" md-raised-button color="primary" >{{item.name}}</button>	
		</span>
		</div>
	</md-sidenav>
	<div class="demo-sidenav-content">
		<div class="container">
			<br><br>
			<br>
			<br>
			<div class="row col-md-12 hidden-sm-down">
				<button (click)="denTrangChu()" style="float:left" md-raised-button color="primary" class="dropbtn button-dropdown-menu"><div style=" float: left; margin-left: 5px; margin-top: 2px;">Trang chủ </div><md-icon class="md-12 iconDownMenu">home</md-icon></button>
				<li class="dropdown" *ngFor="let item of listCategorys">
					<span *ngIf="item.idParent == -1">
								<button md-raised-button color="primary" class="dropbtn button-dropdown-menu"><div style=" float: left; margin-left: 5px; margin-top: 2px;">{{item.name}} </div><md-icon class="md-12 iconDownMenu">arrow_drop_down</md-icon></button>
								<div class="dropdown-content">
									<span class="abcA" *ngFor="let itemSon of listCategorys">
										<span (click)="xemDanhMuc(itemSon)" class="parentAHref"><a *ngIf="itemSon.idParent == item.id" class="aHref-dropdown" href="/bai-viet/{{ChangeToSlug(itemSon.name)}}/{{itemSon.id}}">{{itemSon.name}}</a>
										</span>
					</span>
			</div>
			</span>
			</li>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<br>
				<div class="titleBaiVietMoi">Tag: {{tagKey}}</div>
				<br>

				<div class="row listBaiVietMoi" *ngFor="let item of threadsByPage | async | paginate: { id: 'server', itemsPerPage: 7, currentPage: page, totalItems: total }">
					<div class="col-sm-4" (click)="xemBaiViet(item)">
						<img md-card-image src="{{item.imageThumb}}" alt="{{item.name}}">
					</div>
					<div class="col-sm-8 parentAHref" (click)="xemBaiViet(item)">
						<h3 md-line><a class="aHref" href="/bai-viet/{{ChangeToSlug(item.name)}}/{{item.id}}">{{item.name}}</a></h3>
						<p md-line>
							<md-icon>av_timer</md-icon><span style=" margin-top: 0px; position: absolute;">{{item.time}}</span>
						</p>
						<h6 md-line>
							{{item.intro}}
						</h6>
					</div>
				</div>
				<div class="is-text-centered ">
					<div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
					<pagination-controls (pageChange)="getThreadsByPage($event)" id="server"></pagination-controls>
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<md-card>
					<md-card-header>
						<img md-card-avatar src="../../assets/img/banner.png">
						<md-card-title>
							<h6>Quảng cáo</h6>
						</md-card-title>
						<md-card-subtitle>Liên hệ: admin@codeW.net</md-card-subtitle>
					</md-card-header>
					<img md-card-image src="../../assets/img/quangcao.png">
				</md-card>
				<br>
				<div class="titleBaiVietMoi">Mới cập nhập</div>
				<md-list>
					<md-list-item *ngFor="let item of threadsLastestUpdate | async " class="parentAHref">
						<img (click)="xemBaiViet(item)" md-list-avatar src="{{item.imageThumb}}" alt="{{item.name}}">
						<h3 md-line (click)="xemBaiViet(item)"><a class="aHref" href="/bai-viet/{{ChangeToSlug(item.name)}}/{{item.id}}">{{item.name}}</a></h3>
						<p md-line (click)="xemBaiViet(item)">
							<md-icon>av_timer</md-icon><span style=" margin-top: 3px; position: absolute;">{{item.time}}</span>
						</p>
					</md-list-item>
				</md-list>
			</div>
		</div> 
	</div>
	<footer class="footer-distributed">
		<div class="container">

			<div class="footer-left">
				<h3>code<span>W</span></h3>
				<p class="footer-company-name">codeW &copy; 2016</p>
			</div>
			<div class="footer-center">
				<div>
					<p>Liên hệ</p>
				</div>
				<div>
					<i class="material-icons">group</i>
					<p><span>fb.com/codeW.net</span></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>Thông tin</span> Website đang chạy thử nghiệm với mã nguồn xây dựng bằng Angular 2
				</p>
			</div>
		</div>

	</footer>
	</div>
</md-sidenav-layout>
<router-outlet></router-outlet>